<!DOCTYPE <html>
    
<html>
    
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="with-device-witdh , initial-scale=1.0" />
        <tittle>Your tt</tittle>
        <link href="https://getbootstrap.com/docs/4.0/content/tables/" />
</head>
<body>
                @RenderBody()
</body>

</html>